In [1]:
#ttps://eddwardo.github.io/posts/2019-06-05-finding-local-extreams-in-pandas-time-series/
import numpy as np
from scipy.signal import argrelextrema
from matplotlib import pyplot as plt
import pandas as pd
#%matplotlib inline
%matplotlib widget

In [2]:
min_period = 300
N = 14
df = pd.read_csv(f"data/USDT_BTC_{min_period}_1425168000_73.csv")
df.rename(columns={'date':'epoch','ts':'date'},inplace=True)
assert df.loc[0,'period'] == min_period, "Error, period different from min_period"
assert df['period'].count() == df.shape[0], "Error, period not always is min_period" 
df.drop(columns=['period','currency_pair','quoteVolume','weightedAverage'],inplace=True)
df['date'] = pd.to_datetime(df['date'])
df.sort_values(by="date") #just in case
df.set_index('date',inplace=True)
df

,epoch,high,low,open,close,volume
date,,,,,,
2015-03-01 00:00:00,1425168000,240.000060,240.000060,240.000060,240.000060,0.000000
2015-03-01 00:05:00,1425168300,240.000060,240.000060,240.000060,240.000060,0.000000
2015-03-01 00:10:00,1425168600,240.000060,240.000060,240.000060,240.000060,0.000000
2015-03-01 00:15:00,1425168900,240.000060,240.000060,240.000060,240.000060,0.000000
2015-03-01 00:20:00,1425169200,240.000060,240.000060,240.000060,240.000060,0.000000
...,...,...,...,...,...,...
2021-03-31 23:35:00,1617233700,58802.587059,58761.857003,58801.000000,58762.000000,29415.195318
2021-03-31 23:40:00,1617234000,58798.268464,58744.683295,58762.000000,58795.050899,169054.589184
2021-03-31 23:45:00,1617234300,58866.551166,58795.050899,58795.050899,58810.585631,4315.762275
2021-03-31 23:50:00,1617234600,58786.410021,58709.119709,58786.410021,58718.472331,40985.687257
2021-03-31 23:55:00,1617234900,58782.756274,58658.655257,58723.298934,58743.337525,51866.295034

In [3]:
daily_df = df.resample('D').agg({'epoch':'first','high':'max','low':'min','open':'first','close':'last','volume':'sum'})

In [4]:
def rsi(close,n):
    '''
    close is a pandas series
    n is the period for smooth in exponential means
    return a pandas series as rsi
    '''
    
    delta = close - close.shift(1) 
    delta = delta.dropna()
    
    closeup = delta.mask(delta < 0, 0)
    closedown = delta.mask(delta > 0,0).abs()
    

    closeup[closeup.index[n-1]]= closeup[:n].mean()
    closeup = closeup.drop(closeup.index[:n-1])
    avg_closeup = closeup.ewm(com=n-1,adjust=False).mean() 

    closedown[closedown.index[n-1]]= closedown[:n].mean()
    closedown = closedown.drop(closedown.index[:n-1])
    avg_closedown = closedown.ewm(com=n-1,adjust=False).mean()

    rsi = avg_closeup / (avg_closedown + avg_closeup)

    return rsi

In [5]:
 #+- 2 days -> weekly extrema for divergence better a smaller order for earlier detection
price_min_positions = argrelextrema(daily_df.low.values, np.less_equal, order=2)[0] 
price_max_positions = argrelextrema(daily_df.high.values, np.greater_equal, order=2)[0]

In [6]:
print(price_min_positions)
print(price_max_positions)

[   0   18   23   25   26   32   40   44   49   56   66   67   68   71
   74   79   85   93   97  102  103  111  115  125  129  132  140  144
  145  153  166  170  177  183  196  197  205  211  218  235  250  255
  259  260  264  269  276  286  295  300  305  308  311  321  327  334
  339  343  348  361  364  370  374  379  383  390  394  395  405  424
  428  438  447  464  471  480  483  486  491  494  509  513  520  524
  532  537  546  552  560  566  570  584  598  604  610  613  617  623
  630  636  645  651  670  678  682  696  711  715  722  726  740  748
  755  774  796  804  807  818  830  837  849  853  863  868  878  882
  898  902  905  911  919  924  929  936  949  962  969  972  987  999
 1004 1015 1027 1035 1044 1047 1053 1059 1062 1073 1092 1104 1110 1113
 1118 1127 1132 1143 1152 1157 1168 1174 1180 1185 1192 1200 1211 1215
 1229 1238 1244 1259 1262 1268 1278 1287 1298 1304 1312 1316 1321 1329
 1340 1343 1351 1355 1360 1365 1377 1385 1397 1402 1405 1414 1423 1430
 1440 1446 1456 1459 1464 1468 1474 1481 1486 1503 1506 1512 1516 1520
 1538 1544 1551 1556 1561 1579 1584 1587 1599 1606 1610 1628 1635 1642
 1650 1655 1660 1663 1672 1681 1692 1697 1705 1713 1717 1720 1727 1730
 1739 1753 1762 1769 1776 1785 1790 1801 1808 1816 1827 1839 1842 1849
 1856 1867 1870 1873 1878 1891 1897 1908 1912 1920 1925 1929 1933 1938
 1945 1950 1953 1958 1964 1981 1990 2001 2004 2014 2018 2033 2042 2056
 2066 2073 2093 2097 2106 2112 2122 2136 2143 2149 2154 2159 2178 2186
 2191 2196 2207 2216]
[   4   12   15   22   27   32   35   39   40   47   52   53   60   68
   69   75   79   84   85   89   98  102  103  104  110  113  121  127
  133  137  142  146  150  155  156  164  174  181  182  185  190  194
  201  202  208  212  220  230  238  248  262  271  274  286  290  293
  298  303  307  313  325  341  348  353  357  366  376  382  389  392
  405  408  417  421  425  432  435  441  448  455  461  464  470  475
  482  489  499  504  527  533  541  547  553  557  560  567  576  580
  587  591  595  596  601  608  613  616  619  629  633  642  653  663
  668  676  682  685  689  693  699  706  711  726  733  740  745  751
  758  767  772  789  795  802  816  828  833  842  850  856  865  872
  880  884  891  900  908  916  921  926  932  946  959  965  980  983
  996 1004 1013 1016 1022 1032 1042 1056 1061 1064 1077 1087 1100 1107
 1116 1129 1135 1141 1151 1155 1161 1170 1176 1190 1194 1206 1212 1219
 1226 1237 1242 1246 1255 1263 1266 1270 1276 1283 1293 1301 1307 1310
 1314 1317 1324 1330 1347 1353 1369 1379 1391 1394 1398 1403 1409 1415
 1420 1427 1434 1440 1456 1460 1469 1476 1481 1494 1501 1514 1525 1535
 1540 1548 1551 1554 1559 1569 1578 1586 1592 1602 1619 1633 1639 1650
 1656 1664 1675 1685 1695 1700 1709 1734 1739 1744 1748 1753 1758 1761
 1764 1774 1777 1785 1788 1796 1810 1816 1820 1821 1828 1833 1846 1851
 1859 1864 1875 1880 1887 1890 1894 1901 1905 1919 1928 1934 1940 1949
 1956 1960 1975 1981 1986 1989 1996 2003 2011 2020 2026 2029 2038 2041
 2052 2055 2061 2068 2071 2077 2084 2092 2096 2102 2108 2121 2128 2135
 2140 2146 2151 2157 2161 2184 2194 2204 2209 2222]

In [7]:
print(daily_df.iloc[price_min_positions].low)

date
2015-03-01      240.000060
2015-03-19      248.821580
2015-03-24      242.525500
2015-03-26      242.525500
2015-03-27      242.525500
                  ...
2021-02-23    45000.000000
2021-02-28    43000.000000
2021-03-05    46325.000000
2021-03-16    53297.884124
2021-03-25    50483.383394
Name: low, Length: 298, dtype: float64

In [8]:
print(daily_df.iloc[price_max_positions].high)

date
2015-03-05      280.890000
2015-03-13      301.000000
2015-03-16      301.000000
2015-03-23      274.298098
2015-03-28      258.880679
                  ...
2021-02-21    58320.000000
2021-03-03    52605.813647
2021-03-13    61799.000000
2021-03-18    60081.000000
2021-03-31    59782.490733
Name: high, Length: 318, dtype: float64

In [9]:
price_maximums = daily_df.iloc[price_max_positions].high
price_minimums = daily_df.iloc[price_min_positions].low

In [10]:
print(price_maximums)
print(type(price_maximums))

date
2015-03-05      280.890000
2015-03-13      301.000000
2015-03-16      301.000000
2015-03-23      274.298098
2015-03-28      258.880679
                  ...
2021-02-21    58320.000000
2021-03-03    52605.813647
2021-03-13    61799.000000
2021-03-18    60081.000000
2021-03-31    59782.490733
Name: high, Length: 318, dtype: float64
<class 'pandas.core.series.Series'>

In [11]:
print(price_minimums)
print(type(price_minimums))

date
2015-03-01      240.000060
2015-03-19      248.821580
2015-03-24      242.525500
2015-03-26      242.525500
2015-03-27      242.525500
                  ...
2021-02-23    45000.000000
2021-02-28    43000.000000
2021-03-05    46325.000000
2021-03-16    53297.884124
2021-03-25    50483.383394
Name: low, Length: 298, dtype: float64
<class 'pandas.core.series.Series'>

In [12]:
price_min_diff =  price_minimums - price_minimums.shift(1)
price_max_diff =  price_maximums - price_maximums.shift(1)

In [13]:
price_max_diff

date
2015-03-05             NaN
2015-03-13    2.011000e+01
2015-03-16   -9.000001e-08
2015-03-23   -2.670190e+01
2015-03-28   -1.541742e+01
                  ...
2021-02-21    1.994000e+04
2021-03-03   -5.714186e+03
2021-03-13    9.193186e+03
2021-03-18   -1.718000e+03
2021-03-31   -2.985093e+02
Name: high, Length: 318, dtype: float64

In [14]:
daily_df['rsi'] = rsi(daily_df.close,14)

In [15]:
 #+- 2 days -> weekly extrema for divergence better a smaller order for earlier detection
rsi_min_positions = argrelextrema(daily_df.rsi.values, np.less_equal, order=2)[0] 
rsi_max_positions = argrelextrema(daily_df.rsi.values, np.greater_equal, order=2)[0]

In [16]:
rsi_maximums = daily_df.iloc[rsi_max_positions].rsi
rsi_minimums = daily_df.iloc[rsi_min_positions].rsi

In [17]:
rsi_min_diff =  rsi_minimums - rsi_minimums.shift(1)
rsi_max_diff =  rsi_maximums - rsi_maximums.shift(1)

In [18]:
rsi_max_diff

date
2015-03-22         NaN
2015-03-27   -0.065898
2015-03-30    0.010769
2015-04-03    0.008364
2015-04-06   -0.002002
                ...
2021-03-03   -0.232204
2021-03-13    0.153025
2021-03-17   -0.096633
2021-03-20   -0.023660
2021-03-30   -0.002209
Name: rsi, Length: 341, dtype: float64

In [19]:
daily_df['correlationH'] = daily_df.high.rolling(3).corr(daily_df.rsi)
daily_df['correlationL'] = daily_df.low.rolling(3).corr(daily_df.rsi)

In [20]:
daily_df.dropna(inplace=True)
daily_df.correlationH.describe()
daily_df.correlationL.describe()

count    2207.000000
mean             inf
std              NaN
min        -0.999970
25%         0.293819
50%         0.785248
75%         0.965051
max              inf
Name: correlationL, dtype: float64

In [21]:

plt.style.use("seaborn")
fig, (ax1,ax2,ax3,ax4) = plt.subplots(nrows=4,ncols=1)
daily_df = daily_df.loc["2020-01":"2020-02"]
ax1.plot(daily_df.low)
ax2.plot(daily_df.high)
ax3.plot(daily_df.correlationH)
ax4.plot(daily_df.correlationL)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦